.pic-bg {
	background: #f5f8f7;
	background-size: cover;
	padding-bottom: 33px;
}

.cmmunity {
	height: 44px;
	border-bottom: 1px solid #d6d6d6;
	background: #fff;
	position:relative;
	width:100%;
}
.cmmunity-list{
	position:relative;
	width:100%;
	margin:0 50px;
	overflow:hidden;
}
.cmmunity-cities{
	position:relative;
	margin:0 50px;
	overflow:hidden;
}
.cmmunity ul{
	width:10000px;
	position:relative;
	left:0;
	top:0;
}
.cmmunity ul li {
	float: left;
}

.cmmunity ul li a {
	display: inline-block;
	font-size: 26px;
	color: #242424;
	height: 44px;
	margin: 0 15px;
	line-height: 42px;
}

.cmmunity ul li a:hover {
	color: #666;
}

.cmmunity ul li a.select {
	color: #4caf50;
}

.cmmunity ul li a img {
	margin-top: 8px;
}

a.left {
	background: url("../jsp/tvstatistics/arrow-left.png") no-repeat 0 3px;
	padding:10px;
	position:absolute;
	left:10px;
	top:5px;
	z-index:800;
}

a.left:hover {
	background: url("../jsp/tvstatistics/arrow-left-hover.png") no-repeat 0 3px;
}

a.right {
	padding:10px;
	background: url("../jsp/tvstatistics/arrow-right.png") no-repeat 0 3px;
	position:absolute;
	right:15px;
	top:5px;
	z-index:800;
}

.right:hover {
	background: url("../jsp/tvstatistics/arrow-right-hover.png") no-repeat 0 3px;
}

.statistics-number {
	width: 860px;
	margin: 20px auto 0;
}

.statistics-number div {
	width: 50%;
	float: left;
}

.statistics-number div p {
	font-size: 30px;
	color: #909090;
	text-align: center;
}

.statistics-number div p.nstall-numbber,.statistics-number div p.regist-numbber{
	font-size: 80px;
	color: #242424;
	margin-bottom: 10px;
	margin-top:10px;
}

.date {
	clear: both;
}

.date table {
	width: 100%;
}

.date table tr.table-line td {
	height: 5px;
	font-size: 0;
}

.date table tr td {
	text-align: center;
	width: 20%;
}

.date table tr td.red {
	color: #ff6138
}

.date table tr td.green {
	color: #80de15
}

.date table tr td.grey {
	color: #353d47;
}

.date table tr td.first {
	background: #8781bd;
}

.date table tr td.second {
	background: #8ba4ca;
}

.date table tr td.third {
	background: #abca8b;
}

.date table tr td.forth {
	background: #ffeb7c;
}

.date table tr td.fifth {
	background: #ff6138;
}

.date table tr.title td {
	height: 60px;
	text-size: 20px;
	color: #474747;
	vertical-align: middle;
}

.date table tr.title td {
	height: 60px;
	font-size: 24px;
	background: #f2fbff;
	color: #474747;
	vertical-align: middle;
}

.date table tr.odd td {
	background: #fff;
	height: 80px;
	font-size: 24px;
	vertical-align: middle;
}

.date table tr.even td {
	background: #f8f8f8;
	height: 80px;
	font-size: 24px;
	vertical-align: middle;
}

.upload-master-face-bg {
	background: url("../../../images/public/bg-blank-60.png") repeat;
	position: fixed;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 21;
	left: 0;
}
.select{
	display: none;
	position:absolute;
	top:44px;
	left:0;
	width:100%;
	/* width:1216px; */
}
.select span{
	color: #4ca74f;
    font-size: 20px;
    line-height: 42px;
}
.select span#community_city{
	margin-left:64px;
}
.loadingbox {
	height: 32px;
	width: 32px;
	left: 50%;
	margin-left: -16px;
	margin-top: -16px;
	position: absolute;
	top: 50%;
	z-index: 22;
}
.citys{
	position:absolute;
	top:44px;
	left:0px;
	z-index:801;
	width:100%;
}
